 

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.prod
    ports:
      - "3001:3001"
    env_file:
      - ./backend/.env

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
    ports:
      - "5173:80"

  dashboard:
    build:
      context: ./dashboard
      dockerfile: Dockerfile.prod
    ports:
      - "5174:80"
