/* Full page center container */
.lineChart {
  position: relative;
  width: 60% !important;

}

/* Title styling */
.lineChart h3 {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 600;
  color: #222;
}

canvas {
  background-color: rgb(255, 255, 255);
}

.lineChart {


  --radius: 4px;
  width: 50% !important;
  height: 55% !important;
  background: rgb(245, 245, 245);
  position: absolute;
  bottom: 0;
  left: 32% !important;
  cursor: move;
  box-sizing: border-box;
  z-index: 100;
  border-radius: var(--radius);
  border: 1px solid rgba(112, 112, 112, 0.56);
  top: 25% !important;
}