.search-support{
    background-color: #f5f4f4;
    height: 200px;
}

input{
    height: 60px;
    width: 90%;
     
     
    background-color: white;
    border: none;
    
}
input:focus {
    outline: none;
}

.input-icon{
    background-color: white;
    height: 70px;
    width: 96%;
    margin-left: 30px;

     

}
i{
    margin: 10px;
}